/** Layout **/
$margin--standard: 20px;
$padding--standard: 20px;
$max-width: 360px;

/** Z-indexes **/
$z-index-loader: 30;
$z-index-header: 20;
$z-index-heading-section: 10;

/** Colors **
/!\ DO NO USE THIS VARS */
$green: #3ff5b8;
$red: #fa4848;
$orange: #fac159;

// Use this :
$color--extra-light: #ffffff;
$color--lighter: #f5f6f8;
$color--light: #d3d3d3;
$color--medium: #777777;
$color--dark: #565656;
$color--darker: #1A1A1A;
$color--extra-dark: #000000;

$color--link: $color--medium;

$color--facebook: #3b5998;

$color--main: $green;
$color--score: $green;
$color--successes: $red;
$color--achievements: $orange;
$color--photo-album: $green;

$color--theme-default: #c7ff9a;
$color--theme-default-alt: #fbbc4b;

$color--theme-1: #c7ff9a;
$color--theme-1-alt: #fbbc4b;

$color--theme-2: #d17cfe;
$color--theme-2-alt: #92f9d7;

$color--theme-3: #fde718;
$color--theme-3-alt: #e5b5fe;

$color--theme-4: #fbbc4b;
$color--theme-4-alt: #ff9fc8;

$color--theme-5: #3ff5b8;
$color--theme-5-alt: #97e4fc;

$color--theme-6: #ff569f;
$color--theme-6-alt: #e2fac6;

$shadow: 0 0 5px rgba(#000, .3);
$shadow--small: 0 0 10px rgba(#000, .3);
$shadow--big: 0 0 30px rgba(#000, .5);

/** Fonts **/
$roboto: 'Roboto';
$all-things-pink: 'All Things Pink';

/** Header **/
$header-height: 100px;

/** Transition **/
$out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$swift: cubic-bezier(.62,.28,.23,.99);