#achievements {
    background-color: $color--achievements;

    background-image: url('../images/png/paterns/achievements.png');
    background-repeat: repeat;
    background-size: 30%;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        @extend .ext-wrapper;
        max-width: 1000px;

        padding-bottom: 300px;
    }
}

.achievements__item {
    flex-basis: calc(100% / 4);
}

.achievement {
    position: relative;
    padding: 30px;
    box-sizing: border-box;

    &__heading {
        text-align: center;
        font-family: $all-things-pink;
        color: $color--extra-light;
        font-size: 3.5rem;

        p {
            margin: 10px 0;
        }
    }

    &__graph {
        position: relative;
        z-index: 1;

        .graph__svg {
        }

        .progress__bar {
        }

        .graph-progress {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);

            font-family: $all-things-pink;
            font-size: 2rem;
        }

        .score-counter {
            top: 64%;
            left: 80%;
        }
        
        .graph__details {
            position: absolute;
            top: 40%;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: rgba(#000, .5);
            padding: 100px 10px 10px;
            color: $color--extra-light;
            text-align: center;
            left: 9px;
            right: 14px;
            z-index: -1;

            a {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

.graph__svg {
    @extend .theme-color;
}