#main-header {
    display: flex;
    position: relative;
    z-index: $z-index-header;
    align-items: center;
    justify-content: space-between;
    padding: $padding--standard $padding--standard*2;

    background-color: $color--extra-light;
    font-size: 1.5rem;

    box-shadow: $shadow;
    
    &__logo {
        display: block;
        width: 60px;
        @include aspect-ratio(80, 86);

        background-size: cover;
        background-image: url('../images/png/logo-swap.png');

        .retina & {
            background-image: url('../images/png/logo-swap@2x.png');
        }
    }
    
    &__menu {
        ul {
            display: flex;
            margin: 0;
        }
        
        li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;

            &:last-child a {
                padding-right: 0;
            }
        }
        
        a {
            position: relative;
            display: block;
            padding: $padding--standard;
            text-transform: uppercase;

            color: inherit;
            text-decoration: none;

            &.active {
                font-weight: 600;
            }
        }
    }
}