#photo-album {
    position: relative;

    //background-color: adjust-hue($color--photo-album, 20%);
    background-image: url('../images/png/paterns/photoAlbum.jpg');
    background-repeat: repeat;

    &__timeline {
        position: absolute;
        top: 0;
        left: 20px;

        @media (min-width: 780px) {
            left: calc(50% - 350px);
        }

        width: 10px;
        height: 100%;

        background-image: url('../images/svg/raw/timeline.svg');

        &-link {
            display: block !important;
            position: absolute;
            top: 20px;
            width: 20px;
            height: 20px;
            left: -76px;
            transform: translateY(-50%);

            border-radius: 50%;
            background-color: $color--darker;

        }
    }

    .wrapper {
        @extend  .ext-wrapper;
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 1200px) {

        &__timeline {
            left: 50%;
            transform: translateX(-50%);
        }

        .photo-album__item {
            margin-left: initial;
            margin-right: initial;
            width: 45%;

            &:not(:nth-child(2)) {
                margin: -45px 0;
            }
        }

        /** Left **/
        .photo-album__item:nth-child(odd) {
            align-self: flex-start;
            justify-content: flex-end;

            .photo__heading {
                order: 1;
            }

            .user {
                justify-content: flex-end;
            }

            .featured-item {
                order: 2;
                margin-right: 0;
                margin-left: 10px;
            }

            .photo__comment {
                text-align: right;
            }

            .photo__item {
                order: 2;
            }

            #photo-album__timeline-link {
                right: -68px;
                left: auto;

                @media (min-width: 1300px) {
                    right: -80px;
                }

                @media (min-width: 1500px) {
                    right: -85px;
                }
            }

        }

        /** Right **/
        .photo-album__item:nth-child(even) {
            align-self: flex-end;
            justify-content: flex-start;

            #photo-album__timeline-link {
                left: -68px;

                @media (min-width: 1300px) {
                    left: -80px;
                }

                @media (min-width: 1500px) {
                    left: -85px;
                }
            }
        }
    }
}

.photo {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 550px;
    margin: 30px auto;

    &__heading {
        order: 2;
        max-width: 50%;
        margin: $margin--standard;
    }

    .user {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .featured-item {
            margin-right: 10px;
        }

        &__infos {
            p {
                margin: 5px 0;
            }

            .user__name {
                font-family: $all-things-pink;
                font-size: 3rem;
            }
        }
    }

    &__comment {
        max-width: 80%;
    }

    &__item {
        order: 1;
        width: 300px;
        height: 400px;
        position: relative;
        z-index: 1;

        .img {
            width: 100%;
            height: 100%;

            background-size: cover;
            background-position: center;
        }

        svg {
            position: absolute;
            width: 105%;
            height: 105%;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    #photo-album__timeline-link {
        display: none;
    }
}