#progress {

    &__score {}

    &__successes {

        .heading-section {
            &__title {
                color: $color--successes;
            }
        }
    }

    &__achievements {

        .heading-section {
            &__title {
                color: $color--achievements;
            }
        }
    }

    &__photo-album {

        .heading-section {
            &__title {
                color: darken($color--photo-album, 15%);
            }
        }
    }
}

#promise-screen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    visibility: hidden;

    background-image: url('../images/png/promesse.jpg');
    background-size: cover;
    background-position: center;
}