#score {
    position: relative;
    height: 50vw;

    overflow: hidden;

    background-color: $color--score;
    background-image: url('../images/svg/raw/score-gift-background.svg'), url('../images/svg/raw/rays.svg');
    background-size: auto 100%, cover;
    background-position: 50% 100px, center;
    background-repeat: no-repeat;
}

.score {
    position: relative;

    &-counter {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
    }

    &__bar {
        position: absolute;
        padding: 0 70px;
        width: 100%;
        box-sizing: border-box;
        bottom: 15px;
        transform: scale(.9, 1.1);
        pointer-events: none;
    }

    &__promise {
        position: absolute;
        right: 18px;
        bottom: 95px;

        @media (min-width: 1100px) {
            bottom: 95px;
        }
        @media (min-width: 1150px) {
            bottom: 88px;
        }
        @media (min-width: 1250px) {
            bottom: 75px;
        }
        @media (min-width: 1350px) {
            bottom: 65px;
        }

        @media (min-width: 1400px) {
            bottom: 52px;
        }

        transform: scale(1.1, 0.9) rotate(10deg);
        z-index: 1;
        font-weight: 600;
        display: flex;
        align-items: center;

        .text {
            margin-left: 15px;
            line-height: 1.5rem;
        }
    }

    &__gift {
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    &__pedestal {
        position: absolute;
        left: 50%;
        bottom: -30%;
        width: calc(100vw + 100px);
        height: 300px;
        border-radius: 100%;
        transform: translateX(-50%);

        background-color: #6ffdca;
    }

    &__avatars {
        position: absolute;
        bottom: 15%;
        @media (min-width: 1100px) {
            bottom: 12%;
        }
        @media (min-width: 1250px) {
            bottom: 10%;
        }
        @media (min-width: 1350px) {
            bottom: 8%;
        }
        @media (min-width: 1400px) {
            bottom: 5%;
        }

        left: 50%;
        width: 100%;
        text-align: center;

        transform: translate3d(-50%, 0, 0);
    }

    &__avatar {
        display: inline-block;
        position: relative;
        width: 150px;
        @include aspect-ratio(240, 400);

        transform-origin: 50% 100%;

        &.avatar-1 {
            bottom: -10px;
            transform: translateX(30px) rotate(-10deg);
        }

        &.avatar-2 {
            transform: rotate(8deg);
        }

        &.avatar-3 {
            transform: rotate(5deg);
        }

        &.avatar-4 {
            bottom: -10px;
            transform: rotate(-7deg);
        }
    }
}