#successes {
    background-color: $color--successes;

    background-image: url('../images/png/paterns/successes.jpg');
    background-size: 30%;
    background-repeat: repeat;

    .wrapper {
        @extend .ext-wrapper;
    }
}