.fix-animation {
    backface-visibility: hidden;
    perspective: none;
    transform: scale(1) translate3d(0,0,0);
}

.hidden {
    display: none;
}

.icon {
    width: 100%;
    height: 100%;
    @extend .fix-animation;
}

.max-w {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.wrapper {
    padding: 35px $margin--standard;
    @extend .max-w;
}

.heading {
    &, &-1, &-2 {
        position: relative;
        text-align: center;

        > span {
            display: inline-block;
            padding: 5px 10px;
            max-width: 300px;
            box-sizing: border-box;

            background-color: $color--extra-light;
            text-transform: uppercase;
            font-family: $roboto--black;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    &-2 svg {
        transform: scaleY(-1);
    }
}

.separator {
    &, &-1, &-2 {
        display: block;

        @include aspect-ratio(412.24, 13.52); // Keep aspect ratio of svg
    }

    &-2 svg {
        transform: scaleY(-1);
    }
}

.highlight-text {
    &, &-1, &-2, &-3, &-4 {
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: -10px;
            width: calc(100% + 20px);
            z-index: -1;

            @extend .theme-color-alt;
        }
    }

    & svg, &-1 svg {
        transform: translate3d(0,-50%,0) scaleY(1.5);
    }

    &-2 svg {
        transform: translate3d(0,-50%,0) scaleY(1.5) scaleX(-1);
    }

    &-3 svg {
        transform: translate3d(0,-50%,0) scaleY(-1.5);
    }

    &-4 svg {
        transform: translate3d(0,-50%,0) scaleY(-1.5) scaleX(-1);
    }
}

.score,
.alarm {
    display: inline-block;
    padding: 6px 12px 10px;

    border-radius: 5px;
    color: $color--extra-light;
    background-color: $color--extra-dark;
    font-family: $roboto--black;

    &__icon,
    &__label {
        display: inline-block;
        vertical-align: middle;
        line-height: 1rem;
    }

    &__icon {
        width: 15px;
        height: 15px;
        @extend .theme-color;
    }

    &__label {
        position: relative;
        font-size: 1.1rem;
        margin-left: 10px;
        padding-left: 10px;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            left: 0;

            background-color: $color--extra-light;
        }
    }
}

.rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        position: relative;
        box-sizing: border-box;

        transform-origin: 50% 100%;
        transform: scale(.8);
        opacity: .7;
        will-change: opacity, transform;

        transition: transform .2s ease-out,
            opacity .2s ease-out;

        @extend .fix-animation;

        @include aspect-ratio(120, 200);

        .rate--contains-1 & {
            flex-basis: calc(100% - 10px);
        }
        .rate--contains-2 & {
            flex-basis: calc(100%/2 - 10px);
        }
        .rate--contains-3 & {
            flex-basis: calc(100%/3 - 10px);
        }
        .rate--contains-4 & {
            flex-basis: calc(100%/4 - 10px);
        }
        .rate--contains-5 & {
            flex-basis: calc(100%/5 - 10px);
        }
    }

    input[type="radio"] {
        display: none;

        &:checked + .rate__item {
            transform: none;
            opacity: 1;

            transition: transform .3s cubic-bezier(0.4, 0.6, 0, 3.5),
            opacity .2s ease-out;
        }
    }

    &__scale {
        position: relative;
        flex-basis: 100%;
        height: 2px;

        background-color: $color--darker;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: -7px;
            width: 2px;
            height: 15px;

            background-color: $color--darker;
        }

        &::before {
        }

        &::after {
            right: 0;
        }
    }
}

.load-trigger {
    position: absolute;
    width: 100%;
    padding-bottom: 100px;
    top: -$header-height;

    background: linear-gradient(to bottom, $color--extra-light 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%);

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        top: -100px;

        background-color: $color--extra-light;
    }

    > * {
        transform: scale(1.2);
        margin-left: auto;
        margin-right: auto;
    }
}