/** Theme **/
.theme-background {
    [data-theme="default"] & {
        background-color: $color--theme-default;
    }

    [data-theme="1"] & {
        background-color: $color--theme-1;
    }

    [data-theme="2"] & {
        background-color: $color--theme-2;
    }

    [data-theme="3"] & {
        background-color: $color--theme-3;
    }

    [data-theme="4"] & {
        background-color: $color--theme-4;
    }

    [data-theme="5"] & {
        background-color: $color--theme-5;
    }

    [data-theme="6"] & {
        background-color: $color--theme-6;
    }
}

.theme-background-alt {
    [data-theme="default"] & {
        background-color: $color--theme-default-alt;
    }

    [data-theme="1"] & {
        background-color: $color--theme-1-alt;
    }

    [data-theme="2"] & {
        background-color: $color--theme-2-alt;
    }

    [data-theme="3"] & {
        background-color: $color--theme-3-alt;
    }

    [data-theme="4"] & {
        background-color: $color--theme-4-alt;
    }

    [data-theme="5"] & {
        background-color: $color--theme-5-alt;
    }

    [data-theme="6"] & {
        background-color: $color--theme-6-alt;
    }
}

.theme-color {
    [data-theme="default"] & {
        color: $color--theme-default;
    }

    [data-theme="1"] & {
        color: $color--theme-1;
    }

    [data-theme="2"] & {
        color: $color--theme-2;
    }

    [data-theme="3"] & {
        color: $color--theme-3;
    }

    [data-theme="4"] & {
        color: $color--theme-4;
    }

    [data-theme="5"] & {
        color: $color--theme-5;
    }

    [data-theme="6"] & {
        color: $color--theme-6;
    }
}

.theme-color-alt {
    [data-theme="default"] & {
        color: $color--theme-default-alt;
    }

    [data-theme="1"] & {
        color: $color--theme-1-alt;
    }

    [data-theme="2"] & {
        color: $color--theme-2-alt;
    }

    [data-theme="3"] & {
        color: $color--theme-3-alt;
    }

    [data-theme="4"] & {
        color: $color--theme-4-alt;
    }

    [data-theme="5"] & {
        color: $color--theme-5-alt;
    }

    [data-theme="6"] & {
        color: $color--theme-6-alt;
    }
}

.theme-fill {
    [data-theme="default"] & {
        fill: $color--theme-default;
    }

    [data-theme="1"] & {
        fill: $color--theme-1;
    }

    [data-theme="2"] & {
        fill: $color--theme-2;
    }

    [data-theme="3"] & {
        fill: $color--theme-3;
    }

    [data-theme="4"] & {
        fill: $color--theme-4;
    }

    [data-theme="5"] & {
        fill: $color--theme-5;
    }

    [data-theme="6"] & {
        fill: $color--theme-6;
    }
}

.theme-fill-alt {
    [data-theme="default"] & {
        fill: $color--theme-default-alt;
    }

    [data-theme="1"] & {
        fill: $color--theme-1-alt;
    }

    [data-theme="2"] & {
        fill: $color--theme-2-alt;
    }

    [data-theme="3"] & {
        fill: $color--theme-3-alt;
    }

    [data-theme="4"] & {
        fill: $color--theme-4-alt;
    }

    [data-theme="5"] & {
        fill: $color--theme-5-alt;
    }

    [data-theme="6"] & {
        fill: $color--theme-6-alt;
    }
}

.theme-border {
    [data-theme="default"] & {
        border-color: $color--theme-default-alt;
    }

    [data-theme="1"] & {
        border-color: $color--theme-1;
    }

    [data-theme="2"] & {
        border-color: $color--theme-2;
    }

    [data-theme="3"] & {
        border-color: $color--theme-3;
    }

    [data-theme="4"] & {
        border-color: $color--theme-4;
    }

    [data-theme="5"] & {
        border-color: $color--theme-5;
    }

    [data-theme="6"] & {
        border-color: $color--theme-6;
    }
}

.theme-border-alt {
    [data-theme="default"] & {
        border-color: $color--theme-default-alt;
    }

    [data-theme="1"] & {
        border-color: $color--theme-1-alt;
    }

    [data-theme="2"] & {
        border-color: $color--theme-2-alt;
    }

    [data-theme="3"] & {
        border-color: $color--theme-3-alt;
    }

    [data-theme="4"] & {
        border-color: $color--theme-4-alt;
    }

    [data-theme="5"] & {
        border-color: $color--theme-5-alt;
    }

    [data-theme="6"] & {
        border-color: $color--theme-6-alt;
    }
}