body {
    font-family: $roboto--regular;
    color: $color--text;
    -webkit-tap-highlight-color: transparent;
}

.view-container {
    margin-top: $header-height;
}

textarea, input {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;

    border-radius: 5px;
    border: 0;
    outline: none;
    box-shadow: none
}

a {
    color: inherit;
    text-decoration: none;
}

.roboto-bold {
    font-family: $roboto--black;
}

/** Ocn overrides **/
.ocn {

    &__wrapper {
        margin-bottom: $ocn-controls-height;
    }

    &__wrapper,
    &__slide {
        height: calc(100vh - #{$header-height + $ocn-controls-height});
    }

    &__slide {
        transform: translate3d(0,0,0);
    }

    &__controls {
        height: $ocn-controls-height;
        box-shadow: $shadow;

        @extend .theme-background;
    }

    &__trigger {
        width: 25px;
        height: 25px;
        padding: 20px;
    }

    &__marker {
        position: absolute;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: $color--extra-light;
        left: 0;
        top: 50%;
        transform: translate3d(17px,-50%,0); // 17px is the position of the first trigger
        z-index: -1;
        will-change: transform;
    }
}