/*****************
 *               *
 *   VARIABLES   *
 *               *
 *****************/


/** Layout **/
$margin--standard: 20px;
$padding--standard: 20px;
$max-width: 360px;

/** Z-indexes **/
$z-index-loader: 50;
$z-index-textarea-focus: 40;
$z-index-notification: 30;
$z-index-menu: 25;
$z-index-header: 20;
$z-index-floating-button: 11;
$z-index-ocn-controls: 10;
$z-index-ocn-wrapper: 0;

/** Colors **
/!\ DO NO USE THIS VARS */
$yellow: #ffff51;
$red: #f34f2f;
$blue: #5365f0;

// Use this :
$color--main: $red;
$color--secondary: $blue;

$color--extra-light: #ffffff;
$color--lighter: #f5f6f8;
$color--light: #d3d3d3;
$color--medium: #777777;
$color--dark: #565656;
$color--darker: #1A1A1A;
$color--extra-dark: #000000;

$color--text: $color--darker;
$color--text-light: #ffffff;
$color--link: $color--medium;

$color--facebook: #3b5998;

$color--theme-default: #c7ff9a;
$color--theme-default-alt: #fbbc4b;

$color--theme-1: #c7ff9a;
$color--theme-1-alt: #fbbc4b;

$color--theme-2: #d17cfe;
$color--theme-2-alt: #92f9d7;

$color--theme-3: #fde718;
$color--theme-3-alt: #e5b5fe;

$color--theme-4: #fbbc4b;
$color--theme-4-alt: #ff9fc8;

$color--theme-5: #3ff5b8;
$color--theme-5-alt: #97e4fc;

$color--theme-6: #ff569f;
$color--theme-6-alt: #e2fac6;

$shadow: 0 0 5px rgba(#000, .3);
$shadow--small: 0 0 10px rgba(#000, .3);
$shadow--big: 0 0 30px rgba(#000, .5);


/** Fonts **/
$roboto--regular: 'Roboto Regular';
$roboto--regular-italic: 'Roboto Regular Italic';
$roboto--black: 'Roboto Black';
$roboto--black-italic: 'Roboto Black Italic';
$roboto--medium-italic: 'Roboto Medium Italic';

$all-things-pink--regular: 'All Things Pink Regular';
$all-things-pink--skinny: 'All Things Pink Skinny';

$line-height--basic: 2.2rem;


/** Header **/
$header-height: 60px;
$ocn-controls-height: 65px;
$bg-color-menu: rgba(#000, .9);


/** Transition **/
$out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$swift: cubic-bezier(.62,.28,.23,.99);