#dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-notification;
    visibility: hidden;
    opacity: 0;

    @extend .fix-animation;
    will-change: opacity;

    [data-theme="default"] & {
        background-color: rgba($color--theme-default, .95);
    }

    [data-theme="1"] & {
        background-color: rgba($color--theme-1, .95);
    }

    [data-theme="2"] & {
        background-color: rgba($color--theme-2, .95);
    }

    [data-theme="3"] & {
        background-color: rgba($color--theme-3, .95);
    }

    [data-theme="4"] & {
        background-color: rgba($color--theme-4, .95);
    }

    [data-theme="5"] & {
        background-color: rgba($color--theme-5, .95);
    }

    [data-theme="6"] & {
        background-color: rgba($color--theme-6, .95);
    }
}

.dialog {
    &__wrapper {
        @extend .wrapper;

        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;

        &.center {
            justify-content: center;
            > * {
                margin: 30px 0;
            }
        }
    }

    &__close {
        position: absolute;
        right: 8px;
        top: 5px;
        width: 30px;
        height: 30px;
        margin: 10px !important;
        z-index: 10;
    }

    &__title {
        font-family: $all-things-pink--regular;
        font-size: 2em;
        text-align: center;
    }

    &__question,
    &__message {
        text-align: center;
        font-family: $roboto--regular-italic;
        font-size: 1.2rem;

        &--bold {
            font-family: $roboto--black-italic;
        }
    }

    &__icon {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    &__rate {}

    &__score,
    &__alarm {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 50px;
        padding: 12px 26px;
        border-radius: 10px;

        .score__icon,
        .alarm__icon,
        .score__label,
        .alarm__label {
            line-height: 1.8rem;
        }

        .score__icon,
        .alarm__icon {
            width: 30px;
            height: 30px;
        }

        .score__label,
        .alarm__label {
            min-width: 90px;
            margin-left: 10px;
            padding-left: 10px;

            font-size: 2.2rem;
            text-align: right;
        }
    }

    &__comment {
        position: relative;
        height: 20vh;

        background-color: $color--extra-light;
        border-radius: 5px;

        textarea {
            width: 100% !important;
            height: calc(100% - 50px) !important;

            border-radius: 0;
            background-color: transparent;

            &:focus {
                @extend .keyboard-focus;
            }
        }
    }

    &__photo {
        position: absolute;
        display: flex;
        align-items: center;
        flex-grow: 1;
        bottom: 0;
        left: 0;
        padding: 15px;
        line-height: 20px;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        &.preview {
            left: 50%;
            bottom: -50%;
            padding: 0;
            transform: translate3d(-50%, -50%, 0);
        }

        #photo-preview {
            width: 65px;
            height: 65px;

            background-position: center;
            background-size: cover;
            border-radius: 50%;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 $margin--standard*2;
    }

        &__button {
            margin: 5px 0;
        }
}

/** Animation **/
.dialog__wrapper {

    #intro,
    #nextContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;

        & >* {
            margin: 30px 0;
        }
    }
    #intro {

    }

    #nextContent {
        @extend .wrapper;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}

/** Promise **/
.promise {
    &__heading {
        width: 100%;
        position: relative;
        margin: 30px auto;
        max-width: 260px;
    }

        &__ray {
            position: absolute;
            z-index: -1;
            top: -50px;
            left: -5px;
        }
}
