#main-header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    padding: 0 $padding--standard;
    align-items: center;
    justify-content: space-between;

    box-shadow: $shadow;

    @extend .theme-background;
    z-index: $z-index-header;
}

.main-header {

    &__user-avatar {
        width: 38px;
        height: 60px;
    }

    &__title {
        text-transform: uppercase;
        font-family: $roboto--regular;
        font-size: .9rem;
    }

    &__hamburger {
        width: 25px;
        height: 25px;
    }
}

#main-menu {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $z-index-menu;

    background-color: $bg-color-menu;

    will-change: transform;
    @extend .fix-animation;
}

.main-menu {
    &__wrapper {
        height: 100%;
        @extend .wrapper;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        color: $color--extra-light;
    }
    
    &__logo {
        width: 100px;
        height: 100px;
    }
    
    &__list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        font-family: $all-things-pink--regular;
        font-size: 1.8rem;
        text-align: center;
    }
        &__item a {
            display: block;
            padding: $margin--standard 0;
        }
}