#loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-loader;

    background-color: #303030;

    @extend .fix-animation;
    will-change: opacity;

    &__top,
    &__bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        padding: $padding--standard;
        box-sizing: border-box;

        @extend .fix-animation;
        will-change: opacity;

        opacity: 0;
    }

    &__top {
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 15%, 0 85%);
        @extend .theme-background;
    }

    &__bottom {
        background-color: #fff;
    }
}

.loader {

    &__infos {
        display: flex;
        align-items: center;

        @extend .fix-animation;
        will-change: transform;

        .swap {}

        .no-swap & {
            position: absolute;
            right: $padding--standard;
            bottom: $padding--standard;
        }
    }

        &__user-name {
            margin: 0 $margin--standard;

            font-family: $all-things-pink--regular;
            font-size: 1.8rem;
        }

    &__user-avatar {
        width: 137px;
        height: 232px;
        position: absolute;

        transform-origin: 50% 100%;

        @extend .fix-animation;
        will-change: opacity, transform;

        .swap & {
            left: 50%;
            bottom: 50%;

            transform: translate3d(-50%, 20px, 0);
        }

        .no-swap & {
            left: 50%;
            bottom: 50%;

            transform: translate3d(-50%, -20px, 0) rotate(180deg);
        }
    }
}