.news {

    &__wrapper {
        @extend .wrapper;
    }

    &__list {}

    &__item {
        margin: $margin--standard 0;

        @extend .fix-animation;
    }

    &__floating-button {
        @extend .floating-button;
    }
}

.new {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &.has-photo {
        .new__icon {
            position: absolute;
        }
        .new__content {
            margin-left: 90px;
        }
    }

    &__icon {
        margin-right: $margin--standard;
        z-index: 1;
    }

    &__content {
        flex-grow: 1;
        max-width: calc(100% - 90px);
    }

        &__title {
            font-family: $all-things-pink--regular;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }

        &__infos {
            margin-top: 5px;
        }

            &__comment {
                font-family: $roboto--regular-italic;
                letter-spacing: 1px;
                font-size: .8rem;
            }

    &__photo {
        width: 100%;
        height: auto;
        margin-top: 10px;

        img {
            width: 100%;
        }
    }
}