.profile {
    &__wrapper {
        @extend .wrapper;
    }

    &__infos {
        text-align: center;
    }
}

.infos {
    position: relative;
    padding: 25px 0 50px;

    background-size: 100%;
    background-position: center;

    [data-theme="default"] & {
        background-image: url("../images/png/gift-theme-default.png");
    }

    [data-theme="1"] & {
        background-image: url("../images/png/gift-theme-1.png");
    }

    [data-theme="2"] & {
        background-image: url("../images/png/gift-theme-2.png");
    }

    [data-theme="3"] & {
        background-image: url("../images/png/gift-theme-3.png");
    }

    [data-theme="4"] & {
        background-image: url("../images/png/gift-theme-4.png");
    }

    [data-theme="5"] & {
        background-image: url("../images/png/gift-theme-5.png");
    }

    [data-theme="6"] & {
        background-image: url("../images/png/gift-theme-6.png");
    }

    &__score {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 12px 26px;
        border-radius: 10px;

        .score__icon,
        .score__label {
            line-height: 1.8rem;
        }

        .score__icon {
            width: 30px;
            height: 30px;
        }

        .score__label {
            min-width: 90px;
            margin-left: 10px;
            padding-left: 10px;

            font-size: 2.2rem;
            text-align: right;

            @extend .fix-animation;
        }
    }

    &__tip {
        position: absolute;
        width: 49%;
        text-align: left;
        right: 0;
        top: 50%;
        transform: translate3d(0,-50%,0);
    }

    &__avatar {
        display: block;
        position: relative;
        width: 100px;
        height: auto;
        left: 50px;
        bottom: -10px;
    }
}

.level {
    display: flex;
    align-items: center;

    &__last-goal,
    &__goal {
        font-family: $roboto--black-italic;
        line-height: .85rem;

        span {
            display: block;
            font-family: $roboto--medium-italic;
            font-size: .7em;
        }
    }

    &__last-goal {
        margin-right: $margin--standard;
    }

    &__goal {
        position: relative;
        margin-left: $margin--standard;

        #promise-gift {
            position: absolute;
            width: 25px;
            height: 25px;
            top: -30px;
            left: 6px;
            @extend .fix-animation;
        }
    }

    &__progress {
        flex-grow: 1;
    }
}

.progress {
    position: relative;
    background-color: $color--darker;
    border-radius: 30px;
    height: .8em;

    &__bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 30px;

        @extend .theme-background;
        @extend .fix-animation;
    }
}

.successes {
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + #{$padding--standard*2});
        margin-left: -$padding--standard;
    }
    &__item {
        flex-basis: calc(100% / 2);
        padding: 20px;
        box-sizing: border-box;
    }
}

.success {
    text-align: center;

    &__icon {
        display: inline-block;
        width: 60px;
        height: 80px;
        color: $color--light;
    }

    &--achieved {
        .success__icon {
            color: $color--darker;
        }
    }
    &__label {
        text-align: center;
        font-family: $roboto--regular-italic;
    }
}