.todos {

    &__wrapper {
        @extend .wrapper;
    }

    &__list {}

    &__item {
        position: relative;
        margin: $margin--standard 0;

        @extend .fix-animation;
    }

    &__floating-button {
        position: fixed;
        bottom: $margin--standard;
        right: $margin--standard;
        transform: scale(1.4);
    }
}

.todo {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: $margin--standard;
        z-index: 1;
    }

    &__content {
        flex-grow: 1;
        max-width: calc(100% - 90px);
    }

        &__title {
            font-family: $all-things-pink--regular;
            //font-size: 1.2rem;
            font-size: 1.4rem;
            letter-spacing: 1px;
            white-space: nowrap;
        }

        &__infos {
            display: flex;
            margin-top: 5px;
        }

            &__points,
            &__time {
                .icon {
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                }
            }

            &__points {
                margin-right: $margin--standard;
            }

        &__actions {
            position: absolute;
            display: flex;
            top: 50%;
            left: 65px;
            right: 0;
            height: 62px;
            align-items: center;
            justify-content: space-around;
            padding: 0 20px;
            transform: translate3d(0, -50%, 0);

            @extend .theme-background;
            @extend .fix-animation;
            will-change: transform;
        }
}