.ocn {
    overflow: hidden;
}

.ocn__wrapper {
    display: flex;
    height: 100vh;
    z-index: $z-index-ocn-wrapper;
    will-change: transform;
}

.ocn__controls {
    display: flex;
    position: absolute;
    z-index: $z-index-ocn-controls;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.ocn__trigger {
    cursor: pointer;
}

.ocn__slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
    >* {
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}