.heading-section {
    position: relative;
    padding: $padding--standard*2 0;
    z-index: $z-index-heading-section;

    box-shadow: $shadow;
    text-align: center;
    background-color: $color--extra-light;

    $arrow-size: 20px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        bottom: -$arrow-size;

        border-top: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-bottom: $arrow-size solid $color--extra-light;
        border-left: $arrow-size solid $color--extra-light;

        box-shadow: -2px 2px 2px 0 rgba(#000 ,0.15);

        transform: translateX(-50%) scaleX(1.2) rotate(-45deg);
    }

    &__title {
        margin: $margin--standard/2 0;

        font-family: $all-things-pink;
        font-size: 4.5rem;
        font-weight: 400;
    }

    &__subtitle {
        margin: $margin--standard/2 0;

        font-size: 1.6rem;
        font-weight: 400;
    }
}

.ext-wrapper {
    padding: 100px 20px;
    margin-left: auto;
    margin-right: auto;
}

.score-counter {
    display: inline-block;
    padding: 16px 26px;

    border-radius: 10px;
    color: $color--extra-light;
    background-color: $color--extra-dark;
    font-family: $roboto;
    font-weight: 700;

    &__icon,
    &__label {
        display: inline-block;
        vertical-align: middle;
        line-height: 3rem;
    }

    &__icon {
        width: 30px;
        height: 30px;
        color: $orange
    }

    &__label {
        position: relative;
        min-width: 90px;
        margin-left: 10px;
        padding-left: 10px;
        font-size: 4rem;
        text-align: right;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            left: 0;

            background-color: $color--extra-light;
        }
    }

    &--small {
        padding: 2px 10px 5px;
        border-radius: 50px;
        min-width: 74px;

        .score-counter {
            &__icon,
            &__label {
                line-height: 1.5rem;
            }

            &__icon {
                width: 15px;
                height: 15px;
            }

            &__label {
                font-size: 1.5rem;
                min-width: initial;
            }
        }
    }
}