<header class="photo__heading">

    <div class="photo__user user">
        <div class="featured-item featured-item--fill" data-theme="<%= user.theme %>">
            <div class="featured-item__background">
                <svg class="icon">
                    <use xlink:href="images/svg/sprite.symbol.svg#featured-background"></use>
                </svg>
            </div>
            <div class="featured-item__picto--up">
                <svg class="icon">
                    <use xlink:href="images/svg/sprite.symbol.svg#<%= icon %>"></use>
                </svg>
            </div>
            <div class="featured-item__user"><img class="icon" src="images/png/avatar-featured-<%= user.avatar %>-<%= user.humor %>.png"></div>
        </div>

        <div class="user__infos">
            <p class="user__name"><%= user.name %></p>
            <p><%= date %></p>
        </div>

    </div>

    <p class="photo__comment"><%= comment %></p>

</header>

<div class="photo__item">
    <svg>
        <use xlink:href="images/svg/sprite.symbol.svg#cadre"></use>
    </svg>
    <div class="img" style="background-image: url('data:image/jpeg;base64,<%= photo %>')"></div>
</div>

<div id="photo-album__timeline-link"></div>