<article id="progress__score"></article>

<article id="progress__successes">
    <header class="heading-section">
        <h2 class="heading-section__title">Tableau des succès</h2>
        <h3 class="heading-section__subtitle">Imprimez les succès remportés par votre famille</h3>
    </header>
</article>

<article id="progress__achievements">
    <header class="heading-section">
        <h2 class="heading-section__title">Tâches et loisirs réalisées</h2>
        <h3 class="heading-section__subtitle">Tout au long de la semaine, vous avez effectué difféentes tâches et
            loisirs.<br>Votre famille a-t-elle jouée le jeu ? Découvrez le classement et vos récompenses !</h3>
    </header>
</article>

<article id="progress__photo-album">
    <header class="heading-section">
        <h2 class="heading-section__title">Album photo</h2>
        <h3 class="heading-section__subtitle">Retrouvez toutes les photos prises par votre famille durant la semaine !</h3>
    </header>
</article>

<div id="promise-screen"></div>