<div class="wrapper">

    <div class="score-counter">
        <svg class="score-counter__icon">
            <use xlink:href="images/svg/sprite.symbol.svg#star"></use>
        </svg>
        <div class="score-counter__label" id="score-counter__label">0</div>
    </div>
    
    <div class="score__avatars">
        <div class="score__avatar avatar-1"><img class="icon" src="images/png/avatar-loader-4.png"></div>
        <div class="score__avatar avatar-2"><img class="icon" src="images/png/avatar-loader-2.png"></div>
        <div class="score__avatar avatar-3"><img class="icon" src="images/png/avatar-loader-3.png"></div>
        <div class="score__avatar avatar-4"><img class="icon" src="images/png/avatar-loader-1.png"></div>
    </div>

</div>

<div class="score__bar">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1360.94 643.47">
        <title>score-bar2</title>
        <path style="fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 59px" d="M36.3,640a448.18,448.18,0,0,1-6.13-73.78c0-73,17.51-143.71,52-210.27,33.13-63.82,80.4-121,140.62-170.09C282.61,137.18,352.13,99,429.44,72.32c79.77-27.49,164.47-41.43,251.69-41.43S853,44.83,932.85,72.32c77.31,26.65,146.83,64.86,206.61,113.56,60.17,49,107.48,106.26,140.62,170.09,34.53,66.53,52,137.27,52,210.27a448.28,448.28,0,0,1-5.74,71.19" transform="translate(-0.68 -1.39)"/>
        <path id="score__progress-bar" style="fill: none;stroke: #fac159;stroke-miterlimit: 10;stroke-width: 59px" d="M36.3,640a448.18,448.18,0,0,1-6.13-73.78c0-73,17.51-143.71,52-210.27,33.13-63.82,80.4-121,140.62-170.09C282.61,137.18,352.13,99,429.44,72.32c79.77-27.49,164.47-41.43,251.69-41.43S853,44.83,932.85,72.32c77.31,26.65,146.83,64.86,206.61,113.56,60.17,49,107.48,106.26,140.62,170.09,34.53,66.53,52,137.27,52,210.27a448.28,448.28,0,0,1-5.74,71.19" transform="translate(-0.68 -1.39)"/>
    </svg>

    <% if (promise) { %>
        <div class="score__promise">
            <div class="score__gift">
                <svg class="icon"><use xlink:href="images/svg/sprite.symbol.svg#gift"></use></svg>
            </div>
            <div class="text"><%= promise.goal %><br>points</div>
        </div>
    <% } %>
</div>

<div class="score__pedestal"></div>