.floating-button {
    position: fixed;
    bottom: $margin--standard;
    right: $margin--standard;
    transform: scale(1.4);
    z-index: $z-index-floating-button;
}

.button-exchange {
    @extend .svg-button-exchange;
    @extend .svg-button-exchange-dims;

    &:active {
        @extend .svg-button-exchange--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        @extend .svg-button-exchange--disabled;
    }
}

.button-help {
    @extend .svg-button-help;
    @extend .svg-button-help-dims;

    &:active {
        @extend .svg-button-help--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        @extend .svg-button-help--disabled;
    }
}

.button-check {
    @extend .svg-button-check;
    @extend .svg-button-check-dims;

    &:active {
        @extend .svg-button-check--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        @extend .svg-button-check--disabled;
    }
}

.button-cancel {
    @extend .svg-button-cancel;
    @extend .svg-button-cancel-dims;

    &:active {
        @extend .svg-button-cancel--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        @extend .svg-button-cancel--disabled;
    }
}

.button-discover-promise {
    color: red;
    @extend .svg-button-discover-promise;
    @extend .svg-button-discover-promise-dims;

    &:active {
        @extend .svg-button-discover-promise--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        //@extend .svg-button-discover-promise--disabled;
    }
}

.button-comment-promise {
    @extend .svg-button-comment-promise;
    @extend .svg-button-comment-promise-dims;

    &:active {
        @extend .svg-button-comment-promise--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        //@extend .svg-button-comment-promise--disabled;
    }
}

.button-pick-photo {
    @extend .svg-button-pick-photo;
    @extend .svg-button-pick-photo-dims;

    &:active {
        @extend .svg-button-pick-photo--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        //@extend .svg-button-pick-photo--disabled;
    }
}

.button-add {
    @extend .svg-button-add;
    @extend .svg-button-add-dims;

    &:active {
        @extend .svg-button-add--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        @extend .svg-button-add--disabled;
    }
}

.button-reload {
    @extend .svg-button-reload;
    @extend .svg-button-reload-dims;

    &:active {
        @extend .svg-button-reload--active;
    }

    &--disabled,
    &--disabled:active,
    &.button--disabled {
        @extend .svg-button-reload--disabled;
    }
}