.featured-item {
    position: relative;
    width: 70px;
    height: 70px;

    &--stroke {
        .featured-item__background {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                right: 4px;
                bottom: 3px;
                left: 3px;
                border: solid 3px;
                z-index: -1;
                @extend .theme-border;

                #dialog & {
                    border-color: $color--extra-light;
                }
            }
        }
    }

    &--fill {
        .featured-item__background {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                right: 4px;
                bottom: 3px;
                left: 3px;
                z-index: -1;
            }
        }

        &[data-theme="default"] {
            .featured-item__background::before {
                background-color: $color--theme-default;
            }
        }

        &[data-theme="1"] {
            .featured-item__background::before {
                background-color: $color--theme-1;
            }
        }
        &[data-theme="2"] {
            .featured-item__background::before {
                background-color: $color--theme-2;
            }
        }
        &[data-theme="3"] {
            .featured-item__background::before {
                background-color: $color--theme-3;
            }
        }
        &[data-theme="4"] {
            .featured-item__background::before {
                background-color: $color--theme-4;
            }
        }
        &[data-theme="5"] {
            .featured-item__background::before {
                background-color: $color--theme-5;
            }
        }
        &[data-theme="6"] {
            .featured-item__background::before {
                background-color: $color--theme-6;
            }
        }

    }
    &__background {
        width: 100%;
        height: 100%;
    }

    &__user {
        position: absolute;
        left: 8px;
        bottom: 3px;
        width: 46px;
        height: 60px;
    }

    &__picto {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        &--up {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0%;
            left: 95%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
}

#dialog .featured-item--fill:not([data-theme]) .featured-item__background::before {
    background-color: $color--extra-light;
}