.checkbox {
    margin-bottom: $margin--standard;

    input {
        display: none;
    }

    input:checked + .checkbox__label .checkbox__icon {
        svg {
            transform: scale(1) rotate(0deg);
        }
    }

    &__icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;

        background-color: $color--extra-light;
        border-radius: 5px;

        svg {
            padding: 8px;
            box-sizing: border-box;

            transform: scale(0) rotate(30deg);
            transition: transform .3s $out-back;
        }
    }

    &__label {
        display: flex;
        align-items: center;
    }
}

textarea.keyboard-focus {
    position: fixed !important;
    top: 5vh !important;
    width: calc(100% - 40px) !important;
    max-width: $max-width - 40px;
    height: 90vh !important;

    background-color: $color--extra-light !important;
    z-index: $z-index-textarea-focus !important;

    & + .close-keyboard {
        @extend .button-check;
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: $z-index-textarea-focus + 1;
    }
}